<!-- Description and image  -->
<div class='textAndImage'>
  <div class='rounded float-start' id='Info'>
    <h3 id='catchPhrase'>
      Homegrown,<br />
      Made Simple.
    </h3>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem expedita, recusandae fugit
      molestias nesciunt alias et quasi, nobis harum nihil quos perferendis vitae. Ducimus!
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem expedita, recusandae fugit
      molestias nesciunt alias et quasi, nobis harum nihil quos perferendis vitae. Ducimus!
    </div>
    ,<a href='/plants'><button id='plantButton' type='button' class='btn btn-light'>
        Check out some plants!
      </button></a>
  </div>
  <div class='rounded float-end'>
    <img id='lady' src='images/undraw_happy_news_hxmt.svg' alt='' />
  </div>
</div>
