<!-- Description and image  -->
<div class='row'>
  <div class='textAndImage'>
    <div class='rounded float-start' id='Info'>
      <h3 id='catchPhrase'>
        Homegrown,<br />
        Made Simple.
      </h3>
      <div>
        Grow your own vegetable garden and contribute to a greener, more sustainable future!
        Discover the joy of cultivating fresh, organic produce right in your backyard. Reduce your
        carbon footprint, promote biodiversity, and enjoy the unparalleled taste of homegrown
        vegetables.
      </div>
      <br />
      <div>
        Join the movement towards environmental sustainability and take the first step towards a
        healthier planet. Embrace the benefits of gardening for yourself and the environment. Let's
        make a difference together, one garden at a time!
      </div>
      ,<a href='/plants'><button id='plantButton' type='button' class='btn btn-light'>
          Check out some plants!
        </button></a>
    </div>
    <div class='rounded float-end'>
      <img id='lady' src='images/undraw_happy_news_hxmt.svg' alt='' />
    </div>
  </div>
</div>
